
/* Denna fil får du editera för att lösa uppgiften. Du får INTE ändra i html-filen. */

/* 
Färger
Off-white - #fcfaf4 (container bg)
Gräddvit - #eae7d2  (active + content)
Mörk kaffe - #797066 (länk bg)
Latte - #9c9084 (link : hover)
Espresso - #51473d (header bg)
*/


#container {
    position: relative;
    width: 600px;
    margin: 0 auto;
    background-color: #fcfaf4;
    padding: 10px 20px 25px 20px;
}

#topbar {
    background-color: #51473d;
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 12px;
    font-style: italic;
    text-align: right;
    clear:both;
    color: #eae7d2;
    padding-top: 5px;
    padding-bottom: 7px;
}


#menu {
    background-image: url("../css/pics/coffey.jpg");
    width: 600px;
    height: 200px;
    background-repeat:no-repeat;
    background-color: #51473d;
    padding-top: 30px;
    padding-bottom: 10px;
    position: relative;
}

#menu a[href="#maincontent"] {
    visibility: hidden;
}

#menu ul a:link {
    color: #eae7d2;
    border-bottom: none;
    padding-top: 7px;
    padding-bottom: 6px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: capitalize;
}

#menu ul li.active a {
    background-color: #eae7d2;
    color: #9c9084;
    text-decoration: none;
    padding-top: 6px;
    padding-bottom: 7px;
}

#menu ul {
    background-color: #51473d;
    list-style-type: none;
    margin-top: 159px;
    margin-left: 10px;
    padding-bottom: 5px;
    padding: 0;
    text-decoration: none;
}

#menu li {
    background-color: #797066;
    display: inline-block;
    margin-left:-4px;
    padding-top: 7px;
    padding-bottom: 6px;
    text-decoration: none;
} 

#menu a:hover {
    background-color: #9c9084;
    color: #eae7d2;
    padding-top: 7px;
    padding-bottom: 0px;
    text-decoration: none;
}

#subcontent li{
    list-style: none;
}

#subcontent a:link {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #51473d;
}
    
#subcontent a:hover {
    color: #9c9084;
}



#content {
    background-color: #eae7d2;
    margin-top: 0px;
}

#maincontent {
    background-color: #eae7d2;
    width: 349px;
    border-right: dashed #9c9084 1px;
    font-style: normal;
    color: #797066;
    float: left;
}

h1 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-weight: lighter;
    color: #9c9084;
}

h2 {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-weight: lighter;
    font-size: 15px;
    color:#51473d;
}

p {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    color: #9c9084;
}

#subcontent {
    width: 249px;
    background-color: #eae7d2;
    font-style: normal;
    color: #797066;
    float: right;
}

#subcontent h1 {
    color:#51473d;
    font-size: 18px;
}

#subcontent p {
    font-size: 11px;
    letter-spacing: 2px;
}

#bottomcontent {
    clear: both;
    background-color: #eae7d2;
    border: solid black 0px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    font-style: italic;
    color: #797066;
}

img {
    float: left;
    margin: 0;
    padding-right: 10px;
}

